*{
    margin: 0px;
}
#background{
    background-color:#EE82EE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#clock{
    padding: 25px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    
}
#background h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: monospace;
    padding: 50px;
    text-shadow:2px 5px black;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#dates{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bolder;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.571);
    letter-spacing: 10px;
    border-radius: 5px 30px 5px 30px;
    display: flex;
    justify-content: center;   

}
#button{
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
    display: flex;
    justify-content:center;
    gap: 30px;
}
.btn{
    padding: 15px 20px;
    background-color: white;
    color: purple;
    font-weight: bolder;
    border:2px solid purple;
    border-radius: 10px;    
}
.btn:hover{
    background-color: purple;
    color: white;
    transition-duration:0.5s ;
}

@media (max-width: 720px) {
    #background h1{
        font-size: 30px;
        padding: 20px; 
        text-shadow: none;
        font-weight: bolder;  
        letter-spacing: 5px;  
    }
    #dates{
        font-size: 20px;   
    }
    #clock{
        font-size: 50px;       
    }
    .btn{
        padding: 5px 10px;   
    }
    
  }


